Source: libmdns1
Section: libs
Priority: optional
Maintainer: Stewart Ferguson <stew@sim-international.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libavahi-client-dev,
 libboost-system-dev,
 libuv1-dev,
Standards-Version: 4.7.2

Package: libmdns-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libmdns1 (= ${binary:Version}),
 ${misc:Depends},
Description: mDNS-SD C++ wrapper around avahi-client (Development files)
 mDNS-SD is service discovery over mDNS.
 Hostname/IP relationships, or services (with ports and TXT data) can be
 published, browsed, and resolved with this library.
 Integrates with a variety of event loops including boost::asio, libuv, or
 stand-alone.
 .
 This is the development package with static libs and headers

Package: libmdns1
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 avahi-daemon
Description: mDNS-SD C++ wrapper around avahi-client
 mDNS-SD is service discovery over mDNS.
 Hostname/IP relationships, or services (with ports and TXT data) can be
 published, browsed, and resolved with this library.
 Integrates with a variety of event loops including boost::asio, libuv, or
 stand-alone.
